* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.container div {
    padding: 10px;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bolder;
    color: white;
}

/* Header Elements */

.header {
    background-color: white;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.header-top-row-container {
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: rgb(215, 220, 239);
    width: 75%;
    height: 12px;
    border-radius: 20px;
    margin-left: 15px;
}

.fa-magnifying-glass {
    margin-left: 15px;
}

.fa-pied-piper-pp {
    margin-left: 20px;
    margin-right: 10px;
}

.header-user-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-user-buttons div {
    color: black;
}

.header-bottom-row-left {
    display: flex;
    align-items: center;
}

.header-bottom-row-left p {
    color: black;
    font-size: 12px;
}

.header-bottom-row-left span {
    font-size: 18px;
}

.header-bottom-row-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(29, 183, 255);
    font-weight: bolder;
}

/* Sidebar Elements */

.sidebar {
    background-color: rgb(29, 183, 255);
    grid-column: 1;
    grid-row: 1 / span 2;
}

.sidelist-1 ul li {
    list-style: none;
}

.main-content {
    background-color: rgb(215, 220, 239);
}